
.toDo-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.toDo-form-title {
    margin-bottom: 15px;
}
.toDo-form-detail {
    margin-bottom: 15px;
}

.toDo-form-add button {
    width: 100%;
}